<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        title skillBox test
    body
        main
            .comp-send-popup Вы успешно записались<br>на курс!
            section.price-section
                .price-section__title Стоимость обучения
                .price-card
                    .price-card__block.course-price
                        .sale-tab
                            .sale-tab__title скидка
                            .sale-tab__percent 40%
                            .sale-tab__desc первым 20
                        .course-price__full-wrap
                            .course-price__full-title Полная стоимость курса
                            .course-price__full-num 50 000 
                                span.price-rub P
                        .course-price__installment-wrap
                            .course-price__installment-num 2 900 
                                span.price-rub P
                            .course-price__installment-title Рассрочка без первого взноса
                        .course-price__spec-wrap
                            .course-price__spec-num 29 000 
                                span.price-rub P
                            .course-price__spec-title Для первых 20-ти
                            .course-price__spec-title.course-price__spec-title--mob Первым 20-ти
                    .price-card__block.course-enter
                        .course-enter-container
                            .course-enter__title Запишитесь на&nbsp;курс
                            ul.advantage-list
                                li.advantage-list__item Телефон
                                li.advantage-list__item Телефон
                                li.advantage-list__item Телефон
                                li.advantage-list__item Телефон
                            .start-course
                                .start-course__row Старт курса: 
                                    span.start-course__strong 7 сентября
                                .start-course__row Осталось: 
                                    span.start-course__strong 19 мест
                            form.enter-form
                                label.enter-form__wrap
                                    input(type="text" name="name")#enterFormName.enter-form__input
                                    span.enter-form__label Имя
                                label.enter-form__wrap
                                    input(type="text" name="phone")#enterFormTel.enter-form__input
                                    span.enter-form__label Телефон
                                label.enter-form__wrap
                                    input(type="text" name="email")#enterFormEmail.enter-form__input
                                    span.enter-form__label Email
                                button.enter-form__button#send-button Записаться
                                input(type="checkbox", name="" id="enter-form__agree" class="enter-form__check")
                                label(for="enter-form__agree").enter-form__agree Я согласен с условиями обработки  
                                    a(href="#") персональных&nbsp;данных
            .site-desc
                .site-desc__title Отчет по тестовому заданию
                p 
                    b При выполнении верстки использовал:
                ul(style="margin:0").advantage-list
                    li.advantage-list__item CSS препроцессор Sass (SCSS)
                    li.advantage-list__item HTML шаблонизатор Pug
                    li.advantage-list__item Сборщик проекта Gulp (сборка включена в репозиторий)
                p Сайт разделен на ДВЕ страницы: index.html и post.html (это было сделано из-за конфликта валидации двух одинаковых форм)
                p Подключал шрифты разными способами (Google fonts и локально)<br> mixin для шрифтов прописаны в файле по пути sass/_fonts.css
                p Все анимации написаны вручную без библиотек на css
                p Форма полностью валидируется, при успешной отправки появится popup, информирующий об успешной отправки
                p Валидация формы была полностью написана вручную, без сторонних помощников с нуля (прям в этом проекте) на нативном JS
                p Так же данная верстка полностью адаптивная и кроссбраузерная
        
        
        script(src="js/main.js")

